.container {
    margin: 100px auto;
    padding-top: 30px;
    text-align: center;
    background-color: whitesmoke;
    width: 400px;
    height: 250px;
  }

.container h2 {
    font-size: 28px;
    margin-top: 10px;
    
}

#number {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 20px;
}

input {
    font-size: 20px;
    margin: 8px;
    padding: 1px 8px;

}